@import url(https://fonts.googleapis.com/css2?family=Almarai);
.font_system {
    font-family: 'Almarai', sans-serif;
    font-weight: lighter;
}
table{
    
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;

}
.border-ev{
    border: 4px solid #5d282d;
}
.td_background{
    background-color: #fff;
}